.base-page{
    margin: 5% 0;
}

.center-block{
    margin: 0 auto;
}

.table-name{
    color: white;
    margin: 20px 0 0;
}

.dist-block{
    background-color: rgba(65,65,65,.95);
}

.create-new-btn{
    margin: 30px 0;
    text-align: right;
}
