.creation-page{
    background-color: rgba(30,30,30,.85);
    overflow: auto;
    margin: 5% auto;
    padding: 20px 0px !important;
    border: black 4px solid;
    box-shadow: 10px 10px 5px black;
    border-radius: 7px;
}

.view-invoice{
    background-color: rgba(30,30,30,.85);
    padding: 3% 0;
    min-height: 100vh;
}

.form-name{
    color: white;
}

.creation-page label{
    color: white;
}

.creation-page .form-group input, .tax-rate-input{
    background-color: inherit;
    color: white;
}

.select-block{
    margin: 20px 0;
    padding: 0 !important;
    text-align: left;
}

.logo-cont{
    text-align: center;
}

#logo-img{
    object-fit: contain;
    height: 15rem;
    width: 100%;
}

#clear-logo-cont{
    margin: 20px 0;
    text-align: center;
}

.asd{
    background-color: white;
}